{% extends 'base.html' %}

{% block content %}

<h1>Computations</h1>

<div class="controls">
{% if user.username %}
   <a href="/create_computation" class="button create_computation">New Computation</a/>
   <a href="/computations" class="button all_computations 
      {% if show_mine == False %} disabled {% endif %}">All Computations</a>

   <a href="/computations?show_mine=true" class="button my_computations
      {% if show_mine %} disabled {% endif %}">My Computations</a>
   <div class="clearfix"></div>
{% endif %}
</div>

<table class="computations">
   <thead>
      <tr>
         <th>ID</th>
         <th>Calculation</th>
         <th>Status</th>
         <th>Created By</th>
         <th>Created Date</th>
         <th>Completed Date</th>
      </tr>
   </thead>
   <tbody>
   {% for computation in computations %}
      <tr>
         <td><a href="/computation?id={{ computation.id }}">
               #{{ computation.id }}</a></td>
         <td>{{ computation.calculation.name.capitalize }}</td>
         <td>{{ computation.status.status.capitalize }}</td>
         <td>{{ computation.created_by.username }}</td>
         <td>{{ computation.created_date }}</td>
         <td>{{ computation.completed_date }}</td>
      </tr>
   {% empty %}
      <tr>
         <td colspan=6><em>
            No computations were found. Why don't you
            <a href="/create_computation">create one</a>?
         </em></td>
      </tr>
   {% endfor %}
   </tbody>
</table>

{% endblock %}
