{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">

   var resultPath = '{{ computation.result_wms | safe}}';
   var calculation = '{{ computation.calculation.name }}';
   var tilemillServerAddress = '{{ tilemill_server_address }}';

</script>
{% load staticfiles %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{% static "climateanalyser/js/map.js" %}"></script>

<h1>Computation #{{ computation.id }}</h1>

<div class="info_container computation">
   <div class="item created_by">
      <span class="key"><strong>Created by</strong></span>
      <span class="value">{{ computation.created_by.username }}</span>
   </div>
   <div class="item calculation">
      <span class="key"><strong>Calculation</strong></span>
      <span class="value">{{ computation.calculation.name.capitalize }}</span>
   </div>
   <div class="item status">
      <span class="key"><strong>Status</strong></span>
      <span class="value">{{ computation.status.status.capitalize }}</span>
   </div>
   <div class="item created_date">
      <span class="key"><strong>Created date</strong></span>
      <span class="value">{{ computation.created_date }}</span>
   </div>
   <div class="item completed_date">
      <span class="key"><strong>Completed date</strong></span>
      <span class="value">{{ computation.completed_date }}</span>
   </div>
   <div class="item result">
      <span class="key"><strong>Result</strong></span>
      <span class="value"><a href="{{ computation.result_nc }}">Download as NC File</a></span>
   </div>
</div>

<div class="clearfix"></div>
<div id="map">
</div>
<div class="data_files">
   <h2>Data Files</h2>
   <table>
      <thead>
         <tr>
            <th>ID</th>
            <th>Path</th>
            <th>Variables</th>
         </tr>
      </thead>
      <tbody>
      {% for computationdata in computation.get_computationdata.all %}
         <tr>
            <td>{{ computationdata.id }}</td>
            <td><a href="/load_cache?file={{ computationdata.datafile.cached_file }}">{{ computationdata.datafile.file_url }}</a></td>
            <td>{{ computationdata.variables | join:', '}}</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}

