{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">

   var resultPath = '{{ computation.result_wms }}';
   var calculation = '{{ computation.calculation }}';

</script>
{% load staticfiles %}
<script src="{% static "climateanalyser/js/map.js" %}"></script>


<h1>Computation #{{ computation.id }}</h1>


<div class="info_container computation">
   <div class="item created_by">
      <span class="key"><strong>Created by</strong></span>
      <span class="value">{{ computation.created_by.username }}</span>
   </div>
   <div class="item calculation">
      <span class="key"><strong>Calculation</strong></span>
      <span class="value">{{ computation.calculation.capitalize }}</span>
   </div>

   <div class="item created_date">
      <span class="key"><strong>Created date</strong></span>
      <span class="value">{{ computation.created_date }}</span>
   </div>
   <div class="item completed_date">
      <span class="key"><strong>Completed date</strong></span>
      <span class="value">{{ computation.completed_date }}</span>
   </div>
   <div class="item result">
      <span class="key"><strong>Result</strong></span>
      <span class="value"><a href="{{ computation.result_nc }}">Download as NC File</a></span>
   </div>

   <div id="map">
   </div>

   <h2>Data Files</h2>
   <table class="data_files">
      <thead>
         <tr>
            <th>ID</th>
            <th>Path</th>
         </tr>
      </thead>
      <tbody>
      {% for datafile in computation.datafiles.all %}
         <tr>
            <td>{{ datafile.id }}</td>
            <td><a href="/load_cache?file={{ datafile.cached_file }}">{{ datafile.file_url }}</a></td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

</div>

{% endblock %}
