{% extends 'base.html' %}

{% block content %}

<h1>Computation #{{ computation.id }}</h1>

<div class="info_container computation">
   <div class="item created_by">
      <span class="key"><strong>Created by</strong></span>
      <span class="value">{{ computation.created_by.username }}</span>
   </div>
   <div class="item calculation">
      <span class="key"><strong>Calculation</strong></span>
      <span class="value">{{ computation.calculation.capitalize }}</span>
   </div>

   <div class="item created_date">
      <span class="key"><strong>Created date</strong></span>
      <span class="value">{{ computation.created_date }}</span>
   </div>
   <div class="item completed_date">
      <span class="key"><strong>Completed date</strong></span>
      <span class="value">{{ computation.completed_date }}</span>
   </div>
   <div class="item result">
      <span class="key"><strong>Result</strong></span>
      <span class="value"><a href="{{ computation.result }}">Download</a></span>
   </div>

   <div id="map">
      <script>
         window.onload = function(){
            var map = L.map('map').setView([-37.81, 144.96], 2);



            var layer = L.tileLayer.wms("http://115.146.84.143:8080/thredds/wms/datafiles/sample/real_correlation.nc", {
                     layers: 'correlation',
                     format: 'image/png',   
                     transparent: true,
                     attribution: "Sample weather data"
                     }).addTo(map);

            L.tileLayer('http://118.138.241.181/v2/CountryOutlines/{z}/{x}/{y}.png',{
                     maxZoom: 8,
                     detectRetina: true
                     }).addTo(map);
                     }
      </script>
   </div>


   <h2>Data Files</h2>
   <table class="data_files">
      <thead>
         <tr>
            <th>ID</th>
            <th>Path</th>
         </tr>
      </thead>
      <tbody>
      {% for datafile in computation.datafiles.all %}
         <tr>
            <td>{{ datafile.id }}</td>
            <td><a href="{{ datafile.file_url }}">{{ datafile.file_url }}</a></td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

</div>

{% endblock %}
