{% extends 'base.html' %}

{% block content %}

<h1>New Computation</h1>
<form class="new_computation" action="/create_computation/" method="post">
   {{ formset.media }}
   {% csrf_token %}
   {{ form.as_p }}
   {{ formset.management_form }}

   {% for form in formset %}
      <div class="datafile_formset">

      {% for field in form.visible_fields %}


         {% if field.label != "Delete" %}
            <p>{{ field.errors }}</p>
            <p>{{ field.label_tag }}{{ field }}</p>
         {% endif %}

      {% endfor %}

      {% if forloop.counter > 1 %}
         <button class="red button remove_button">Remove</button>
      {% endif %}
      </div>
   {% endfor %}
   <button id="add_datafile" class="button">Add Datafile</button>
   <input type="submit" value="Submit" class="button" />
</form>

{% endblock %}
