{% extends 'base.html' %}

{% load customtags %}

{% block content %}

<h1>Data Files</h1>

<div class="controls">
{% if user.username %}
   <a href="/create_datafile" class="button my_computations
      {% if show_mine %} disabled {% endif %}">New Data File</a>
{% endif %}
</div>

<table class="datafiles">
   <thead>
      <tr>
         <th>ID</th>
         <th>URL</th>
         <th>Download</th>
      </tr>
   </thead>
   <tbody>
   {% for datafile in datafiles %}
      <tr>
         <td>#{{ datafile.id }}</td>
         <td>{{ datafile.file_url }}</td>
         <td><a href="/load_cache?file={{ datafile.cached_file }}">Download</a>
         </td>
      </tr>
   {% empty %}
      <tr><td colspan=4>
        <em>There are no datafiles in the database. Why don't you 
            <a href="/create_datafile">add one</a>?</em>
      </td></tr>
   {% endfor %}
   </tbody>
</table>
{% pagination datafiles.pagination.num_pages page_range %}
{% endblock %}
