#map { 
   height: 500px; 
   background-color: #000;
}

.wms-legend {
   background-color: white;
   padding: 6px;
}

.wms-legend img {
   border: solid 1px #000;
   float: left;
}

.wms-legend table {
   float: left;
   width: 40px;
}

#map .wms-legend table tr:first-child td:first-child {
   border-top: solid 1px #000;
}

#map .wms-legend table tr td:first-child {
   border-bottom: solid 1px #000;
   width: 5px;
}

#map .wms-legend table tr td {
   position: relative
   padding: 0px;
   border: none;
}

#map .wms-legend table tr td span {
   position: absolute;
   display: block;
   bottom: 0px;
}

#map .wms-legend table tr td span:first-child {
   top: 0px;
   bottom: auto;
}
