/* ==========================================================================
   Global styles
   ========================================================================== */

body {
   height:100%;
   background-color:#e1dfdc;
   line-height:1.5;
}

.button {
   border:0px;
   background:#2179cc;
   padding:10px 20px;
   text-decoration:none;
   color:#ffffff;
   font-weight:bold;
   display:inline-block;
}

.button:not(.disabled):hover {
   background:#1a63a9
}

.button.disabled {
   cursor:default;
   background:#C8C8C8;
}

.wrapper {
   width:100%;
   max-width:960px;
   margin:0 auto;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   padding:0px 20px;
}

table {
   width:100%;
   text-align:left;
}

td, th {
   padding:20px;
}

td {
   border-top: 1px solid #ccc;
}

tbody tr:hover {
   background-color:#fffeee;
}

/* ==========================================================================
   Header
   ========================================================================== */

#header {
}

#header .logo {
   float:left;
   padding:40px 0;
}

#header .logo a{
   font-family:Helvetica;
   font-size:30px;
   text-decoration: none;
}

#header .menu {
   float:right;
   padding:47px 0; 
   margin:0;
   list-style:none;
}

#header .menu li {
   float:left;
   margin-left:10px;
   background:#2179cc;
   text-align: center;
}

#header .menu li .button{
   padding:10px 10px;
   width:130px;
   height:30px;
   font-size:18px;
   line-height:30px;
}

#header .menu li:hover {
   background: #1a63a9;
}

/* ==========================================================================
   Footer 
   ========================================================================== */

#footer {
   height:100%;
   padding:30px 0;
   background-color: #f0eeeb;
   border-top:2px solid #ccc;
}

#footer .menu {
   padding:0;
   margin:0;
   list-style:none;
}

#footer .menu li a {
   text-decoration:underline;
}

#footer .menu li {
   display:block;
   float:left;
}

#footer .menu li:after {
   content:"|";
   padding: 0 10px 0 5px;
}
#footer .menu li:last-child:after {
   content:'';
}
#footer .wrapper{
   text-align:left;
}

/* ==========================================================================
   Main
   ========================================================================== */

.left {
   float:left;
}

.right {
   float:right;
}

#main {
   min-height:400px;
   padding:20px 0px 60px 0px;
}

.info_container .key,
.info_container .value {
   margin:5px 0px 5px 0px;
   display:inline-block;
}

.info_container .key {
   width:50%;
   max-width:500px;
}

.controls {
   margin:20px 0px 20px;
}

.controls .button.all_computations {
   margin-right:20px;
}

.view_controls {
   display:block;
   float:right;
}

/* #############################################################
 * HOMEPAGE 
 * ############################################################# */
#main .home-banner {
   background:#f0eeeb;
   height:315px;
   margin-bottom:20px;
}
#main .home-module {
   background:#f0eeeb;
   width:440px;
   height:335px;
}

/* #############################################################
 * COMPUTE DATA AND MAIN PAGE
 * ############################################################# */

#main .wrapper .login_form td{
   border-top:0px;
   padding:10px 0px;
}

#main .wrapper .computations td{
   border-top:1px solid #ccc;
   padding:20px;
}

#main .wrapper li.error {
   text-decoration:none;
   color:red;
   list-style-type:none;
}

#main .wrapper ul {
   padding: 0;
}

.wrapper p.error {
   color:red;
}

#id_username, #id_password {
   height:20px;
}

#id_username, #id_password:focus {
   outline: 0px;
}

#main .wrapper form > input{
   width:90px;
   padding:10px;
   margin-top:10px;
   border:none;
   background:#2179cc;
   color:white;
   outline:0px;
}

#id_calculation{
   width:222px;
}

#main .wrapper form > input:hover {
   background:#1a63a9;
}

#main .wrapper form label{
   width:110px;
   display:block;
   float:left;
}

/* #############################################################
 * LOGIN PAGE
 * ############################################################# */

#main .login_form {
   width:340px;
   padding:30px 50px;
   background:#f0eeeb;
   margin:0 auto;
}

#main .login_form h1 {
   text-align:center;
   margin-bottom:30px;
}

#main .login_form tr:hover {
   background:none;
}

#main .login_form input[type='submit'] {
   font-size:18px;
}
/* #############################################################
 * PROFILE PAGE
 * ############################################################# */

#main .profile-info {
   background:#f0eeeb;
   padding:30px;
}

#main .profile-info p {
  font-size:18px;
  font-weight:bold;
}

#main .profile-info p span {
   font-weight:normal;
}
