/* ###############################################################
 * HEADER
 * ##############################################################*/


.logo a{
   font-family:Helvetica;
   font-size:40px;
   text-decoration: none;
}

#header .menu li{
   
}

#header .menu li .button{
   padding:10px 10px;
   width:90px;
}

#header .menu li:hover{
   background: #1a63a9;
}

/* #############################################################
 * COMPUTE DATA
 * ############################################################# */

#main .wrapper td{
   border-top:0px;
   padding:5px;
}

#main .wrapper .computations td{
   border-top:1px solid #ccc;
   padding:20px;
}

#main .wrapper li.error{
   text-decoration:none;
   color:red;
   list-style-type:none;
}

#main .wrapper ul{
   padding: 0 0 0 6px;
}

#id_username, #id_password{
   height:20px;
}

#id_username, #id_password:focus{
   outline: 0px;
   padding: 1px;
}

#main .wrapper form > input{
   width:90px;
   padding:6px;
   border:none;
   margin:10px 0 0 5px;
   background:#2179cc;
   color:white;
}

#main .wrapper form > input:hover{
   background:#1a63a9;
}

#main .wrapper form > input:focus{
   outline:0px;
   padding:6px;
}

tbody tr:hover{
   background-color:transparent;
}

/* ###############################################################
 * FOOTER
 * #############################################################*/

#footer .wrapper{
   text-align:center;
}
