{% extends "base.html" %}

{% block content %}
   <div class="profile-buttons">
      <a href="#" class="button edit-profile">Edit profile</a>
      <a href="#" class="button my-computations">My computations</a>
   </div>
   <div class="profile-info">
      <h1>User Profile</h1>
      <p>Username: <span class="username">{{ profile.username }}</span></p>
      <p>First Name: <span class="first-name">{{ profile.first_name }}</span></p>
      <p>Last Name: <span class="last-name"{{ profile.last_name }}</span></p>
      <p>Email: <span class="email">{{ profile.email }}</span></p>
   </div>
{% endblock %}
